fw/project/lcmxo2/*.sty linguist-generated
fw/rtl/serv/* linguist-vendored
fw/rtl/vendor/** -linguist-vendored
fw/rtl/vendor/lcmxo2/generated/* linguist-generated
hw/pcb/*.html linguist-generated
sw/bootloader/src/fatfs/* linguist-vendored
sw/bootloader/src/fatfs/diskio.c -linguist-vendored
sw/controller/inc/* linguist-vendored
sw/deployer/data/* linguist-vendored
